<!DOCTYPE html>
<html lang="en">

<head>
    <title>生产商</title>
    <link rel="stylesheet" href="/public/assets/bulma.min.css">
    <script src="/public/assets/easytimer.js"></script>
    <script src="/public/assets/vue.js"></script>

    <style type="text/css">
        .field-label {
            text-align: left;
        }

        .field {
            align-items: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="columns" style="margin-top: 30px; margin-left: 10px;">
            <div class="column is-one-third">

                <h3 class="title is-5">节点信息</h3>
                <div class="box">

                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">GameID</label>
                        </div>
                        <div class="field-label is-normal">
                            <label class="label">{{ gameID }}</label>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">开始时间</label>
                        </div>
                        <div class="field-label is-normal">
                            <label class="label">{{ startTime }}</label>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">角色</label>
                        </div>
                        <div class="field-label is-normal">
                            <label class="label">生产商</label>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">已生产</label>
                        </div>
                        <div class="field-label is-normal">
                            <label class="label">{{totalProductCount}}</label>
                        </div>
                    </div>
                    <div class="block"></div>
                    <button onclick="sendJoinAsRoleMessage()" class="button is-primary is-small">加入生产商</button>
                </div>

                <h3 class="title is-5">卡车信息</h3>
                <div class="box">

                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">编号</label>
                        </div>
                        <div class="field-label is-normal">
                            <!-- <label class="label">{{ truckInfo.truckID }}</label> -->
                            <div class="select">
                                <select v-model="truckInfo.truckID">
                                    <option v-for="id in truckIDs">{{id}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">最大装载量</label>
                        </div>
                        <div class="field-label is-normal">
                            <label class="label">{{truckInfo.tMaxQuantity}} 件</label>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">已装载量</label>
                        </div>
                        <div class="field-label is-normal">
                            <label class="label">{{truckInfo.tQuantity}} 件</label>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">距离</label>
                        </div>
                        <div class="field-label is-normal">
                            <label class="label">{{truckInfo.distance}} KM</label>
                        </div>
                    </div>

                    <div class="block"></div>
                    <div class="buttons">

                        <button onclick="sendTruckDestinationMessage()" class="button is-primary is-small">召唤卡车</button>
                        <button onclick="productSomeProducts()" class="button is-primary is-small">生产装车</button>
                        <button onclick="sendAddInventoryMessage()" class="button is-primary is-small">卡车离开</button>
                    </div>

                </div>

                <div class="message">
                    <div class="message-body">
                        <span style="font-size: small;">{{status}}</span>
                    </div>
                </div>

            </div>
            <div class="column"></div>
            <div class="column"></div>
        </div>

    </div>



    <script type="text/javascript">
        const App = {
            data() {
                return {
                    gameID: "NA",
                    startTime: 0,
                    status: "",
                    truckInfo: {
                        truckID: 21,
                        distance: 0,
                        tMaxQuantity: 0,
                        tQuantity: 0
                    },
                    totalProductCount: 0,
                    truckIDs: [21, 22, 23, 24, 25]
                }
            }
        }
        const vm = Vue.createApp(App).mount("#app");
        // const timer = new Timer();

        var conn;
        var roleID = 1;

        function productSomeProducts() {
            vm.truckInfo.tQuantity = 10;
            vm.totalProductCount += vm.truckInfo.tQuantity;
        }
        function sendJoinAsRoleMessage() {
            let roleInfo = {
                "type": 1,
                "roleID": roleID
            };
            conn.send(JSON.stringify(roleInfo));
            console.log("--> ");
            console.table(roleInfo);
        }
        function sendTruckDestinationMessage() {
            let roleInfo = {
                "type": 4,
                "roleID": roleID,
                "truckID": vm.truckInfo.truckID
            };
            conn.send(JSON.stringify(roleInfo));
            console.log("--> ");
            console.table(roleInfo);
        }

        function sendAddInventoryMessage() {
            let roleInfo = {
                "type": 6,
                "roleID": roleID,
                "currentInventory": vm.totalProductCount,
                "truckID": vm.truckInfo.truckID,
                "tQuantity": vm.truckInfo.tQuantity
            };
            conn.send(JSON.stringify(roleInfo));
            console.log("--> ");
            console.table(roleInfo);
        }

        window.onload = function () {

            // timer.start({precisiion: 'seconds'});

            if (window["WebSocket"]) {
                conn = new WebSocket("ws://" + document.location.host + "/ws");
                conn.onclose = function (evt) {
                    vm.status = "连接已断开";
                };
                conn.onopen = function (evt) {
                    vm.status = "已连接到服务器";
                };
                conn.onmessage = function (evt) {
                    var messages = evt.data.split('\n');
                    for (var i = 0; i < messages.length; i++) {
                        console.log("<--- ");
                        let obj = JSON.parse(messages[i]);
                        console.table(obj);
                        switch (obj.type) {
                            case 1:
                                break;
                            case 2:
                                if (roleID == obj.roleID) {
                                    // var text = `GameID: ${obj.gameID} `;
                                    // appendLogText(text);
                                    vm.gameID = obj.gameID;
                                    vm.startTime = obj.gameStartTime;
                                }
                                break;
                            case 5:
                                if (roleID == obj.roleID) {
                                    vm.truckInfo.truckID = obj.truckID;
                                    vm.truckInfo.distance = obj.remainingDistance;
                                    vm.truckInfo.tMaxQuantity = obj.tMaxQuantity;
                                    vm.truckInfo.tQuantity = obj.tQuantity;
                                }
                                break;
                            case 8:
                                vm.gameID = obj.gameID
                                break;

                            default:
                                console.log(`No Such Message Type ${obj.type}`);
                                break;
                        }
                    }
                };
            } else {
                console.error("Your browser does not support WebSockets.");
            }
        };

    </script>
</body>

</html>